body {
  font-family: "Poppins", sans-serif;
}
h2 {
  color: #000000;
}
.banner_description {
  color: #000000;
}
.home_menu {
  color: #519259;
}
.menus {
  color: #519259 !important;
}

.footer_final {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
